/*
  scss of SklepCsGo
  ©Łukasz Kosmaty, Kamil Owczarz, Łukasz Tomana 2017
 */

#bg1{
  background-image: url("img/adminLogin.jpg");

}

#form-login{
  position: absolute;
  width: 100%;
  max-width: 300px;
  transform: translateY(100%);
}
