/*
  scss of SklepCsGo
  ©Łukasz Kosmaty, Kamil Owczarz, Łukasz Tomana 2017
 */

.form-signin{
  position: absolute;
  margin:{
    top: 20%;
    left: 35%;
    right: 35%;
  }
}

#headerbar{
  color: #4b5257;
}